Repository WordPress/php-toolkit, pull requests merged in 2024-12, with the labels that each got.

#121 Streaming readers: Bytes, Filesystem, Zip
  composer.json
  src/WordPress/Blueprints/Runner/Step/UnzipStepRunner.php
  src/WordPress/ByteReader/WP_Byte_Reader.php
  src/WordPress/ByteReader/WP_File_Reader.php
  src/WordPress/ByteReader/WP_GZ_File_Reader.php
  src/WordPress/ByteReader/WP_Remote_File_Ranged_Reader.php
  src/WordPress/ByteReader/WP_Remote_File_Reader.php
  src/WordPress/Filesystem/WP_Abstract_Filesystem.php
  src/WordPress/Filesystem/WP_File_Visitor_Event.php
  src/WordPress/Filesystem/WP_Filesystem.php
  src/WordPress/Filesystem/WP_Filesystem_Visitor.php
  src/WordPress/Filesystem/WP_Zip_Filesystem.php
  src/WordPress/Zip/NewZipStreamReader.php
  src/WordPress/Zip/WP_Zip_Filesystem.php
  src/WordPress/Zip/ZipStreamReader.php
  src/WordPress/Zip/functions.php
Labels: enhancement

#123 Fix PHPUnit failures in CI
  .github/workflows/phpunit-tests-run.yml
  composer.json
  tests/unit/steps/UnzipStepRunnerTest.php
Labels: bug, tests

#122 Fix: last error from stream_socket_enable_crypto
  src/WordPress/AsyncHttp/Client.php
  tests/unit/steps/UnzipStepRunnerTest.php
  tests/unit/zip/ZipStreamWriterTest.php
Labels: tests, Steps
