Repository WordPress/php-toolkit, pull requests merged in 2024-03, with the labels that each got.

#31 WordPress Playground compatibility
  README.md
  blueprint_compiling.php
  src/WordPress/Blueprints/ContainerBuilder.php
  src/WordPress/Blueprints/Model/BlueprintBuilder.php
  src/WordPress/Blueprints/Runner/Step/SetSiteOptionsStepRunner.php
  src/WordPress/Blueprints/Runtime/Runtime.php
  src/WordPress/Blueprints/functions.php
  src/WordPress/DataSource/PlaygroundFetchSource.php
  src/WordPress/DataSource/UrlSource.php
  src/WordPress/Zip/ZipStreamReader.php
  src/WordPress/Zip/functions.php
  tests/Unit/RmStepTest.php
Labels: V1

#63 Refactor method for better windows compatibility
  src/WordPress/Blueprints/functions.php
Labels: enhancement

#57 Test Unzip Step
  composer.json
  src/WordPress/Blueprints/BlueprintParser.php
  src/WordPress/Blueprints/Progress/ProgressEvent.php
  src/WordPress/Blueprints/Progress/Tracker.php
  src/WordPress/Blueprints/Resources/ResourceManager.php
  src/WordPress/Blueprints/Runner/Step/UnzipStepRunner.php
  src/WordPress/Zip/ZipCentralDirectoryEntry.php
  src/WordPress/Zip/ZipEndCentralDirectoryEntry.php
  src/WordPress/Zip/ZipFileEntry.php
  src/WordPress/Zip/ZipStreamReader.php
  src/WordPress/Zip/functions.php
  tests/Blueprints/Runner/Step/UnzipStepRunnerTest.php
  tests/Blueprints/Runner/Step/test_zip.txt
  tests/Blueprints/Runner/Step/test_zip.zip
  tests/Unit/UnzipStep.php
Labels: tests

#68 Add new Blueprint examples
  README.md
  examples/blueprint_compiling.php
  examples/json_string_compiling.php
Labels: enhancement, V1

#86 Restructure workflows, tests and dev packages
  .github/workflows/ci.yml
  .github/workflows/phpunit-tests-run.yml
  .github/workflows/phpunit-tests.yml
  composer-dev.json
  composer-dev.lock
  composer-web-7-0.lock
  composer.json
  dev/composer.json
  dev/load.php
  phpunit.xml
  phpunit.xml.dist
  tests/Blueprints/Runner/Step/UnzipStepRunnerTest.php
  tests/Unit/ActivatePluginStepTest.php
  tests/Unit/CpStepTest.php
  tests/Unit/HttpDownloader.php
  tests/Unit/StreamPeeker.php
  tests/Unit/TrackerTest.php
  tests/Unit/ZipStreamReader.php
  tests/Unit/stream_str_replace_Test.php
  tests/Unit/test.zip
  tests/unit/blueprint/BlueprintMapperTest.php
  tests/unit/configuration/PhpUnitTestCase.php
  tests/unit/json_mapper/JsonMapperTest.php
  tests/unit/json_mapper/PropertyParserTest.php
  tests/unit/json_mapper/resources/Bag.php
  tests/unit/json_mapper/resources/Item.php
  tests/unit/json_mapper/resources/TestResourceClassComplexMapping.php
  tests/unit/json_mapper/resources/TestResourceClassSetValue.php
  tests/unit/steps/RmStepRunnerTest.php
  tests/unit/steps/UnzipStepRunnerTest.php
  tests/unit/steps/resources/test_zip.txt
  tests/unit/steps/resources/test_zip.zip
Labels: V1, tests, PHP 7 Compatibility

#94 Fix zip compatibility issue
  src/WordPress/Blueprints/Runner/Step/UnzipStepRunner.php
  src/WordPress/Zip/ZipCentralDirectoryEntry.php
  src/WordPress/Zip/ZipFileEntry.php
  tests/unit/steps/UnzipStepRunnerTest.php
Labels: V1, tests, PHP 7 Compatibility, Steps

#95 Clean up `RmStepRunner` and its tests
  src/WordPress/Blueprints/Runner/Step/RmStepRunner.php
  tests/unit/steps/RmStepRunnerTest.php
Labels: V1, tests, Steps
